.login {
  padding: 16px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  .logo {
    height: 32px;
    margin-bottom: 32px;
  }
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 48px 24px;
    border-radius: 24px;
    background: $white;
    box-shadow: 0 2px 24px 8px $shadows;
    min-height: 400px;
    width: 100%;
    max-width: 400px;
  }
  &__form {
    width: 100%;
    padding: 24px;
  }
  &__button {
    background: $blue;
    color: $white;
    margin-top: 32px;
  }
}

.logout {
  position: absolute;
  right: 0;
  img {
    width: 40px;
    height: 40px;
  }
}
