$white: #fff;
$blue: #2980b9;
$grey: #2e4053;
$grey-100: #5d6d7e;

// shadow
$shadows: rgba(0, 0, 0, 10%);

// screen
$screen-xs-max: 360px;
$screen-sm-max: 480px;
$screen-md-max: 765px;
$screen-lg-max: 1200px;
$screen-xl-max: 1440px;
